.OuterContainer {
  display: flex;
  justify-content: center;
}
.Container {
  display: block;
  padding: 2em;
  width: 75%;
}
/* 
.Input {
  display: inline-block;
  width: 50%;
  margin: 0 0 15px;
  padding: 1em 0.9375em;
  color: #212326;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  box-shadow: 0 0 0 1px #6b7177;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #ffffff;
  transition: padding 150ms;
  -webkit-appearance: none;
  appearance: none;
} */
